.footer{
    /* background-color: #FFBDDD; */
    /* display: flex; */
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.footer-line{
    background-color: #171E45;
    height: 2px;
}
  

 .link-content, .heading-footer{
   color: #171E45;
}  


address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
  }
  