.form-header {
	margin: 80px 80px 0px 80px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	text-align: center;
	background-color: #171e45;
	color: white;
	box-sizing: border-box;
	padding: 20px;
	border: 3px solid #f1f1f1;
	border-bottom: 0px;
	border-left: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	box-shadow: 15px 15px 5px #f1f1f1;
}

Input[type="radio"] {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	line-height: 28px;
	height: 28px;
	font-size: 20px;
	padding: 20px;
}

Form {
	padding-top: 20px;
}

Label {
	font-weight: 500;
}

.form-body {
	margin: 0px 80px 50px 80px;
	text-align: left;
	background-color: white;
	padding: 20px;
	padding-top: 0px;
	border: 3px solid #f1f1f1;
	border-top: 0px;
	border-left: 1px solid #f1f1f1;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 15px 15px 5px #f1f1f1;
}

.submit-form {
	background-color: #171e45;
	color: floralwhite;
	border: none;
	padding: 5px 30px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 300;
	font-family: sans-serif;
	box-shadow: 10px 5px 5px #f1f1f1;
}

.submit-form:hover {
	background-color: #afbae4;
	color: black;
	box-shadow: 10px 5px 5px #f1f1f1;
}

.inputscroll {
	scroll-behavior: auto;
}
