.jumbotron {
	padding: 70px 20px 70px 20px;
	margin: 0px auto;
	color: black;
}

blockquote::before {
	content: open-quote;
}
blockquote::after {
	content: close-quote;
}
blockquote {
	quotes: "“" "”" "‘" "’";
}
