.btn-click {
	background-color: #171e45;
	color: floralwhite;
	border: none;
	padding: 10px 20px;
	font-family: sans-serif;
}

.btn-click:hover {
	background-color: #afbae4;
	color: black;
}

.card:hover {
	box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
}
