.notification-added {
	border-left: 20px solid rgb(2, 77, 2);
	background-color: rgb(211, 255, 211);
	padding: 10px;
}

.notification-removed {
	border-left: 20px solid rgb(126, 9, 9);
	background-color: rgb(255, 206, 206);
	padding: 10px;
}

.notification-operation {
	border-left: 20px solid rgb(28, 1, 92);
	background-color: rgb(226, 221, 255);
	padding: 10px;
}

.notification-completed {
	border-left: 20px solid rgb(255, 217, 0);
	background-color: rgb(243, 235, 129);
	padding: 10px;
}
