.row-error {
	display: block;
	margin: 40px 0px;
	padding: 10px 20px 0px 20px;
	background-color: rgb(252, 232, 232);
	color: brown;
	border: 1px solid brown;
	border-radius: 5px;
}

.error-heading {
	font-weight: 600px;
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
}
